p {
  margin: 10px 0 !important;
}

.card {
  padding: 5%;
}

.login-container {
  width: 400px;
  text-align: center;
  margin-top: 5%;
}

.fa-small {
  font-size: 16px !important;
}

.btn-float {
  float: left;
  margin-right: 10px;
}

.img-small {
  width: 180px;
}